<!-- <div class="col-sm-3 float-left">
  <div class="leftSideBar">
    <div class="leftSideNav">
      <div class="leftBottomImg leftNavSec">
        <ul>
          <li routerLinkActive="active"><a  
            routerLink="/user/user_view"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
              <li routerLinkActive="active" (click)="reload_window()"><a 
                routerLink="/user/user_dashboard"><i class="fa fa-book" aria-hidden="true"></i>Store</a></li>
     
          <li routerLinkActive="active"><a 
              routerLink="/user/purchaselist"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Books</a>
          </li>
          <li routerLinkActive="active"><a 
            routerLink="/user/order_history"><i class="fa fa-history" aria-hidden="true"></i>
            Subscription History
          </a></li>

          <li routerLinkActive="active"><a 
            routerLink="/reports"><i class="fa fa-tachometer" aria-hidden="true"></i>
            Contact
          </a></li>
        </ul>
      </div>

    </div>

    <div class="upgrateLeft">

      <h2 class="pckName">Package: <span>Free</span></h2>
      <a href="javascript:void(0)" class="upgradeCls">Upgrate Now <i class="fa fa-bolt" aria-hidden="true"></i></a>
    </div>

  </div>
</div> -->


<div class="col-sm-3 leftSideBarnewCus float-left">
  <div class="leftSideBar">
    <!-- <div class="sideBarInf"><button routerLinkActive="true" routerLink="/user/edit-user" class="editeBtn"><i
          class="fa fa-edit"></i>Edit</button>
      <div class="profilePic"><span *ngIf="profile!=null || profile!='' || profile!=undefined"><img [src]="profile" alt="" /></span><span *ngIf="profile==''|| profile==null || profile==undefined" class="text-muted"> <img src="/assets/images/no_dp.png" alt="" /></span></div>
      <div class="nameInfo">
        <h4>{{name}}</h4>
        <a routerLinkActive="true" routerLink="/user/edit-user"><i class="fa fa-envelope"></i><span>{{email}}</span><span *ngIf="email==''||email==undefined||email==null" >Add/Edit email</span></a><br>
        <a routerLinkActive="true" routerLink="/user/edit-user"><i class="fa fa-phone"></i><span >{{p_phone}}</span><span *ngIf="p_phone==''||p_phone==undefined||p_phone==null" class="text-muted">Add/Edit phone</span></a><br>
        <a routerLinkActive="true" routerLink="/user/edit-user">

          <p ><i class="fa fa-map-marker" style="font-size:22px" aria-hidden="true"></i><span *ngIf="p_street==''||p_street==undefined||p_street==null || p_city==undefined||p_city==null||p_city==''" class="text-muted">Add/Edit Address</span><span  *ngIf="p_street!=''||p_street!=undefined||p_street!=null || p_city!=undefined||p_city!=null||p_city!=''">{{p_street}} {{p_city}} - {{p_pin}}. <br> {{p_state}}, {{p_country}}</span></p>
        </a>
      </div>
    </div> -->

    <div class="leftSideNav">
      <div class="leftBottomImg leftNavSec">
        <ul>
          <li routerLinkActive="active"><a  
            routerLink="/user/user_view"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a></li>
          <!-- <li class="{{dashboard_show}}"><a (click)="make_active_db()" routerLinkActive="true"
              routerLink="/user/user_dashboard"><i class="fa fa-book" aria-hidden="true"></i> All Books</a></li> -->
              <li routerLinkActive="active"><a 
                routerLink="/user/user_dashboard"><i class="fa fa-book" aria-hidden="true"></i>Store</a></li>
          <!-- <li class="{{notif_show}}"><a (click)="make_active_notif()" routerLinkActive="true"
              routerLink="/user/notifications"><i class="fa fa-bell" aria-hidden="true"></i> Notifications</a></li> -->
     
          <li routerLinkActive="active"><a 
              routerLink="/user/purchaselist"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My Books</a>
          </li>
          <li routerLinkActive="active"><a 
            routerLink="/user/order_history"><i class="fa fa-history" aria-hidden="true"></i>
            <!-- Payment History -->
            Subscription History
          </a></li>

          <li routerLinkActive="active"><a 
            routerLink="/reports"><i class="fa fa-tachometer" aria-hidden="true"></i>
            <!-- Report Discrepancy -->
            Contact
          </a></li>
        </ul>
      </div>

    </div>

    <div class="upgrateLeft">
      <div class="upgrateLeftSub">

      <h2 class="pckName">Current Package: <span>Free</span></h2>
      <!-- <p class="decsrip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->

      <!-- <ul class="upgradeList">
        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Lorem Ipsum is simply.</li>
        <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Lorem Ipsum is simply.</li>
      </ul> -->
      <a href="javascript:void(0)" class="upgradeCls">Upgrade Now <i class="fa fa-bolt" aria-hidden="true"></i></a>
    </div>
    </div>

  </div>
</div>