table{
    width:100%;
}

.wrap_review{
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: auto 0;
    /* border: 1px solid #000000; */
  }
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {padding: 16px;}
  .example-element-description-attribution {opacity: 0.5;}
  mat-form-field {width:100%;font-size: 15px;}