<!--div class="topBanner">
    <div class="wrapper_top">
      <div class="col-sm-3 float-left logo"><a href="#"><img src="/assets/images/logo.png" alt=""></a></div>
      <div class="col-sm-9 float-left">
        <div class="navSectionAfterLog">
          <div class="searchSectionAfterLog"><input class="form-control" type="search"
              placeholder="Search by Name, Author, ISBN" aria-label="Search"><input type="submit" value="Search"></div>

          <div class="loginDetaiTop">

            <ul>
              <li> <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a></li>
              <li class="thumbnailLi"> <a (click)="show()" class="dropbtn loginThumb"
                  style="background: url('/assets/images/thumnailBig.jpg') no-repeat center center; background-size: cover;">&nbsp;</a>

                <div id="myDropdown" class="dropdown-content">
                  <a href="#home"><i class="fa fa-user-o" aria-hidden="true"></i> My Profile</a>
                  <a href="#about"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a>
                  <a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
                </div>

              </li>


            </ul>
          </div>
        </div>

      </div>
    </div>

  </div-->
<app-site-header></app-site-header>
<!-- <div class="breadcrumb" appNoright>
  <ul>
    <li><a routerLinkActive="true" routerLink="/publisher/publisher-dashboard">Home</a></li>
    <li>&gt;</li>
    <li>List Of Books</li>
  </ul>
</div> -->

<div class="bodyContainer" appNoright >
  <div class="wrapperCustome" appNoright>
  
    <app-site-side-bar></app-site-side-bar>
    <div class="col-sm-9 float-left" appNoright>
      <div class="alert" id="uploaded" [hidden]="alert_show" appNoright>
        <span class="closebtn inputfont" style="color:black" (click)="close_alert()">&times;</span>
        <span class="inputfont" style="color:black">Your book has been uploaded successfully!!</span> &#x2714;
      
      </div>
      <div class="rightSection" appNoright>

        <h1 >List Of Books Uploaded</h1>
        
    <!-- <div class="book_loadMain" *ngIf="loader">

      <div class="loader loader-1">
          <div class="loader-outter"></div>
          <div class="loader-inner"></div>
        </div>
      </div> -->
      <div id="cover-spin" *ngIf="loader"></div>
      
      


    <mat-form-field >
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search by Book name, Price or ISBN" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8" >
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- ID Column -->
        <!-- <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
          <td mat-cell *matCellDef="let index as i">{{i+1}}</td>
        </ng-container> -->
    
        <!-- Progress Column -->
        <ng-container matColumnDef="Thumbnail">
          <th mat-header-cell *matHeaderCellDef >Image</th>
          <td mat-cell *matCellDef="let row"> <div class="tableThumbnail"><a (click)="showbookname(row.book_name,row.full_book_path)" data-toggle="modal"
            data-target="#myModal"><img [src]="row.book_image_path" alt=""  style="height:50px;width:50px"/></a></div> </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Admin Review">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="show_book_msg">Admin Review</th>
          <td mat-cell *matCellDef="let row"> {{row.show_book_msg}} </td>
        </ng-container>
    
        <!-- Color Column -->
        <ng-container matColumnDef="Book Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="book_name">Book</th>
          <td mat-cell *matCellDef="let row" style="width:16%;"> 
           <p class="nameoverflow mt-3"
              #tooltip="matTooltip"
                matTooltip="{{row.book_name}}"
                matTooltipClass="custom-tooltip"
               matTooltipPosition="below">{{row.book_name}}</p> </td>
        </ng-container>
        <!-- <ng-container matColumnDef="ISBN Number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="isbn_no">ISBN</th>
          <td mat-cell *matCellDef="let row" > {{row.isbn_no}} </td>
        </ng-container> -->
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="price">Price</th>
          <td mat-cell *matCellDef="let row"> &#8377;{{row.price}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row"> {{row.price}} </td>
        </ng-container> -->
           <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef >Book Status</th>
          <td mat-cell *matCellDef="let row"> 
            <div *ngIf="row.active_book=='I'; then ifblock else elseblock">
          </div>
          <ng-template #ifblock>
            <!-- <td id="active{{row._id}}"><a class="statusCross" (click)="activation(row._id,row.active_book)" data-toggle="modal" data-target="#MYModal"><i
                  class="fa fa-times" aria-hidden="true"></i></a> -->
                  <td id="active{{row._id}}"><a class="statusCross" (click)="activation(row._id,row.active_book)" style="cursor:pointer;"  data-toggle="modal" data-target="#MYModal"><i
                    class="fa fa-times" aria-hidden="true"></i></a>
            </td>
          </ng-template>
          <ng-template #elseblock>
            <!-- <td id="active{{row._id}}"><a class="statusTick" (click)="activation(row._id,row.active_book)" data-toggle="modal" data-target="#MyModal"><i
                  class="fa fa-check" aria-hidden="true"></i></a> -->
                  <td id="active{{row._id}}"><a class="statusTick" (click)="activation(row._id,row.active_book)" style="cursor:pointer;" data-toggle="modal" data-target="#MYModal"><i
                    class="fa fa-check" aria-hidden="true"></i></a>
            </td>
          </ng-template> 
          </td>
         </ng-container> 
         <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef >Action</th>
          <td mat-cell *matCellDef="let row,let i = index">
            <a style="cursor:pointer;" class="iconLink" (click)="edit_bk(row._id,row.book_id,row.active_book)">	<mat-icon>remove_red_eye</mat-icon></a> 
            <a *ngIf="row.total_page_count != row.uploadad_page_count" style="cursor: pointer;" class="iconLink" (click)="deleteBook(row.book_id,row.publisher_id,i)"><mat-icon class="text-danger">delete</mat-icon></a>
          </td>
        </ng-container>
    
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons ></mat-paginator>
    </div>







      </div>
    </div>


    <br clear="all">
  </div>
</div>

<!--div class="footer">
    <ul class="social">
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
    </ul>

    <div class="f-menu mt-2">
      <ul>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact With Admin</a></li>
        <li><a href="#">How It’s Work</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <p class="text-center mt-2 text-white">Copyright 2020 Partread India. All rights reserved</p>

  </div-->
<!-- use modal -->
<div class="modal fade changeStatus_Ut" id="MYModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Modal Header</h4> -->
      </div>
      <div class="modal-body">
        <p class="allertTxt">Are you sure you want to change status?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-yes btn1" (click)="activation1()" data-dismiss="modal">Yes</button>
        <button type="button" class="btn button-no btn2" data-dismiss="modal">No</button>
        <br clear="All">
      </div>
    </div>
    
  </div>
</div>
<!-- <div class="modal fade" id="MYModal" role="dialog">
  <div class="modal-dialog ">
  
    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
       
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change status?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-yes" (click)="activation1()" data-dismiss="modal">Yes</button>
        <button type="button" class="btn button-no" data-dismiss="modal">No</button>
      </div>
    </div>
    
  </div>
</div> -->


<!-- <div class="modal fade" id="MyModal" role="dialog">
  <div class="modal-dialog ">
  
   
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change status?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="activation(userData._id,userData.active_book)" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div> -->

<div id="myModal" class="modal fade" role="dialog" appNoright appNokey>
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">

        <div id="header-h4">
          <h4 class="modal-title" id="bookname"></h4>
        </div>
      </div>
      <div class="modal-body">
       
        <div id="modal_body_id">
          <div class="book_loadMain" *ngIf="loader">

            <div class="loader loader-1">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
              </div>

              <!-- <div class="spinner-border book_load" *ngIf="loader"></div> -->
            </div>	

          <!-- <div class=" spinner-border  text-danger" *ngIf="loader"></div> -->
           <ngx-extended-pdf-viewer [src]="link" [useBrowserLocale]="false" height="80vh" [textLayer]="true"
            [contextMenuAllowed]="false" [enablePrint]="false" [ignoreKeyboard]="true" [showOpenFileButton]="false"
            [showPagingButtons]="true" [showSidebarButton]="false" [showBookmarkButton]="false" zoom="100%"
            [showDownloadButton]="false" [showSidebarButton]="false" [sidebarVisible]="false" [showFindButton]="false"
            [showPresentationModeButton]="true" (pdfLoaded)="onpage()"></ngx-extended-pdf-viewer>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn button-no" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>
<app-site-footer></app-site-footer>