.vid{
    margin-top: -50rem !important;
    margin-bottom: 6rem !important;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-size: large;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .alert{
    padding: 20px;
    background-color: #920101; /* Red */
    color: rgb(253, 252, 252);
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .show_icon{
    margin-left: 40%;
  }


  .show{max-height: 83px!important;}
  .customSpan{background: #f9f8f6;padding: 13px;border-radius: 50%;box-shadow: 0px 0px 2px 1px grey;text-align: center;}
  .customDiv{display:flex;justify-content: center;align-items: center;}


  .verification-code--inputs input[type=tel] {border: 1px solid #164d8d;
    /* width: 46px;
    height: 46px;
    padding: 14px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 7px;
    border-radius: 5px;
    font-size: 14px; */

    border: 1x solid #164d8d;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #263238;
    border: none;
    border-bottom: 3px solid #385fc0;
    font-family: inherit;
    text-align: left;
    background-color: #fff; 
    width: 34px;
    /* height: 38px; */
    padding: 10px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 8px;
  
}

#coupon{display:none;}
#success{display:none}
#error{display:none}

.showAlert{
  margin: 5px;
    background-color: #f1dede57;
    padding: 11px 0;
    border-radius: 1px;
    color: #645f5f!important;
    border-left: 5px solid #971723;
    font-weight: 600!important;
}