<!-- This is the html part of header component of the website. -->
<!-- This header is used in the pages without login  -->                                                              

<div class="topBanner" appNorightclick><!--div1 usage: It is the Main div of the header component,it contains two section i.e one for logo(assets/images/logo.png) and another one is for Autocomplete search and some list buttons-->
    <div class="wrapper_top">
        <div class="col-sm-3 float-left logo"><a routerLink="/"><img src="/assets/images/logo.png" alt=""></a></div> <!--div2 usage: This div contain logo(assets/images/logo.png) part-->
        <div class="col-sm-9 float-left">
            <div class="navSection"> <!--div3 usage: This div contain two section i.e  one is for Autocomplete search and another on is for some list buttons-->
                <div class="searchSection"><!--div4 usage: This div contain  Autocomplete search -->
                    <div class="searchFieldCont">
                        <ng-autocomplete [data]="bookname" [searchKeyword]="keyword"
                            placeholder="Search by name, author, publisher or ISBN" (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                            [itemTemplate]="itemTemplate" historyIdentifier="bookname"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplate let-item>
                            <div class="item">
                                <img [src]="item.book_image_path"
                                    style="width:25px;height:25px;align-items: left;border: thick;">
                                <span [innerHTML]="item.book_name"></span> &nbsp; | &nbsp;
                                <small>Author: {{item.author_name}}</small> &nbsp; | &nbsp;
                                <small>Publisher: {{item.publisher_name}}</small> &nbsp; | &nbsp;
                                <small>ISBN: {{item.isbn_no}}</small>
                            </div>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div style="font-size:medium;" [innerHTML]="notFound"></div>
                        </ng-template>
                        <a class="search_sec" data-toggle="modal" data-target="#advancedSearch">Advanced Search</a>
                    </div>
                    <input type="submit" value="Search" (click)="show_result()">
                    <!-- <input type="submit" value="Search" (click)="show_result()"> -->
                    
                    <!-- <input class="form-control" type="search" placeholder="Search by Name, Author, ISBN"
                            aria-label="Search">
                        <input type="submit" value="Search"> -->
                </div>
                <ul class="navUl"><!--ul usage: It contains four list buttons -->
                    <!-- <li><a style="font-size: xx-small;"> Advanced Search</a> -->
                    <li><a routerLinkActive="true" routerLink="/publisher/publishernav"> Publishers</a></li><!--li1 usage: This li contain anchor tag name Publishers, after click on this anchor tag navigate to publisher Login page (URL: /publisher/publishernav)-->
                    <!-- <li><a routerLinkActive="true" routerLink="/lawyers"> Lawyers</a></li> -->
                    <!--li2 usage: This li contain anchor tag name Lawyers, after click on this anchor tag navigate to Lawyers home page (URL: /lawyers)-->
                    <li><a routerLinkActive="true" routerLink="/allbooks"> Library</a></li><!--li3 usage: This li contain anchor tag name Library, after click on this anchor tag navigate to list of books published by the Publishers (URL: /allbooks)-->
                    <li><a routerLinkActive="true" (click)="contact_us()" class="loginBtn" style="cursor: pointer;"><small>Contact Us </small> </a></li><!--li4 usage: This li contain anchor tag name Contact Us, after click on this anchor tag window get scroll to the bottom of the page automatically for Enquiry Form -->
                </ul>  
                <br>
                <!-- <a >Advanced Search</a> -->
                <!-- <button type="button" class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <div class="count">0</div>
                </button> -->

            
            </div>

        </div>
    </div>
    <br clear="all">
</div>

 <!-- This modal appear on click on advance search -->
<div class="modal fade advancedSearch_Ut" id="advancedSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" appNorightclick>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"><!--This is the modal header ,which contain a header title  and a cross button-->
          <h5 class="modal-title" id="exampleModalLongTitle">Advanced Search</h5><!--This is the modal header title-->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><!--This is the cross button, after click on this button modal gets closed-->
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"><!--This is the modal body-->
         <div class="row row_main">
             <div class="col-4">
               <!-- <input type="checkbox" name="" id="">  Contain <b>All</b> of these words: -->
               <h5 class="body_Mod_Title"> Contain <b>All</b> of these words:</h5>
             </div>
             <div class="col-5 col_7_Ut">
                 <div class="allWord_Full_Ut"> <input type="text" class="form-control"></div> 
                 <div class="allWord_checkBox_Ut">
                    <div class="allWord_checkBox_Ut_Sub"><mat-checkbox class="example-margin" color="primary" > </mat-checkbox></div>
                    <div class="allWord_checkBox_Ut_Sub">Must appear withid</div>
                    <div class="allWord_checkBox_Ut_Sub"><input type="number" class="form-control"> </div>
                    <div class="allWord_checkBox_Ut_Sub">Word of each other </div>
                </div>
            </div>
            <div class="col-3 notesAdvanceSer">Option to insert multiple word separated by inverted commas</div>
         </div>
         <div class="row row_main">
            <div class="col-4">
                <h5 class="body_Mod_Title">Contain the <b>exact</b> phrase:</h5>
            </div>
            <div class="col-5"> <input type="text" class="form-control"> </div>
            <div class="col-3 notesAdvanceSer">Option to enter the exact phrase</div>
        </div>
        <div class="row row_main">
            <div class="col-4">
                <h5 class="body_Mod_Title">Contain <b>Any</b> of these words:</h5>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-4">
                        <input type="text" class="form-control customWordsInput"> 
                    <span class="ortxt"> or </span> 
                        
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control customWordsInput">  
                    <span class="ortxt"> or </span>

                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control customWordsInput"> 
                    </div>
                </div>
                 </div>
        </div>
        <div class="row row_main">
            <div class="col-4">
               <h5 class="body_Mod_Title">Do <b>Not</b> contain any of these words:</h5>
            </div>
            <div class="col-5"> <input type="text" class="form-control"> </div>
            <div class="col-3 notesAdvanceSer">Option to insert multiple words separated by invered commas</div>
        </div>
        </div>
        <div class="modal-footer"><!--This is the modal footer-->
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-dark">Search</button>
        </div>
      </div>
    </div>
  </div>
  