
<div class="loginContainer">

	<div class="loginContainerSub">
	<div class="col-sm-7 loginLeft float-left">
		<img src="/assets/images/logo.png" alt="" class="logoLogin"  routerLink="/publisher/publishernav"/>
<div class="leftLoginSec">
		<img src="/assets/images/imgLogin.png" alt=""/> 
		<h2>Welcome To PartReads</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
	<div class="col-sm-5 loginRight float-left">
		
		<h1>Publisher Login</h1> 
    
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="loginForm">
      <div class="alert alert-danger alert-dismissible" id="alertdanger" >
         <strong>{{invalid}}</strong>
      </div>

    <label>User Name 
      <!-- <i class="fa fa-envelope-o" aria-hidden="true"></i> -->
    </label>
    <input type="text" class="form-control"  #pubemail required
    (change)="check_email_validity($event)">
    <!-- <span class="text-danger fieldAleart">{{confirm_email}}</span> -->
    <!-- <span class="text-danger fieldAleart">{{check_name}}</span> -->
    <span class="text-danger fieldAleart">{{check_email}}</span>


    <label>Password 
      <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
    </label>
    <input type="password" class="form-control"  #pubpwd required>
    <span class="text-danger fieldAleart">{{check_pass}}</span>
     
    <div class="checkBoxCustomeMain">
    <label class="checkBoxCustom">
    <input  type="checkbox" #p_rem (click)="remember_me(p_rem.checked)" id="prem" checked="checked">
    <span class="checkmarkText"></span>
    </label>Remember
    <a class="forgetPass" routerLink='/publisher/forgetpassword' routerLinkActive="true">Forgot password</a>

    </div>



    <input type="submit" class="loginBtn" value="Login" (click)="show(pubemail.value,pubpwd.value)">

    <!-- <input type="submit" class="signUpBtn" value="Sign Up"> -->

    <div class="buttonSecPop" >
    <a href="#" class="gmailLogin">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill-rule="evenodd" viewBox="0 0 24 24"><path class="icon_svg-fill_as_stroke" d="M20.16 12.193c0-.603-.054-1.182-.155-1.739H12v3.288h4.575a3.91 3.91 0 0 1-1.696 2.565v2.133h2.747c1.607-1.48 2.535-3.659 2.535-6.248z" fill="#4285f4"></path><path class="icon_svg-fill_as_stroke" d="M12 20.5c2.295 0 4.219-.761 5.625-2.059l-2.747-2.133c-.761.51-1.735.811-2.878.811-2.214 0-4.088-1.495-4.756-3.504h-2.84v2.202A8.497 8.497 0 0 0 12 20.5z" fill="#34a853"></path><path class="icon_svg-fill_as_stroke" d="M7.244 13.615A5.11 5.11 0 0 1 6.977 12a5.11 5.11 0 0 1 .267-1.615V8.183h-2.84C3.828 9.33 3.5 10.628 3.5 12s.328 2.67.904 3.817l2.84-2.202z" fill="#fbbc05"></path><path class="icon_svg-fill_as_stroke" d="M12 6.881c1.248 0 2.368.429 3.249 1.271l2.438-2.438C16.215 4.342 14.291 3.5 12 3.5a8.497 8.497 0 0 0-7.596 4.683l2.84 2.202C7.912 8.376 9.786 6.881 12 6.881z" fill="#ea4335"></path></svg> <span>
    Continue with Google 
    </span></a>
    
    <a href="#" class="facebookLogin"><svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="icon_svg-fill_as_stroke" fill-rule="evenodd" clip-rule="evenodd" d="M20.5 12a8.5 8.5 0 1 0-9.83 8.397v-5.94H8.513v-2.458h2.159v-1.872c0-2.13 1.269-3.307 3.21-3.307.93 0 1.903.166 1.903.166v2.091h-1.072c-1.056 0-1.385.656-1.385 1.328V12h2.358l-.377 2.457h-1.98v5.94A8.503 8.503 0 0 0 20.5 12Z" fill="#1877F2"></path></svg> <span> 
                Continue with Facebook
    </span></a>
    </div>


    <p class="signUpTxt">Not a member? <a routerLinkActive="true" routerLink="/publisher/regpub">Sign up now</a></p>
    </div>
	</div>
	</div>

</div>


<!-- <app-publogregheader></app-publogregheader>
<div class="bodyContainerLogin">

  
    <div class="loginWraper" style="margin-top:-6%;">

    <div class="col-sm-12">
      <h1>Publisher Login</h1>
      <div class="alert alertLogin" id="uploaded" [hidden]="alert_show">
        <span class="closebtn" (click)="close_alert()">&times;</span>
        {{invalid}}
      </div>
      <div class="form-group">
        <label class="inputWraper"><i class="fa fa-envelope-o" aria-hidden="true"></i>
          <input type="email" class="form-control" placeholder="Email" #pubemail required
            (change)="check_email_validity($event)"></label>
            <span class="text-danger fieldAleart">{{confirm_email}}</span>
              <span class="text-danger fieldAleart">{{check_email}}</span>
      </div>
      <div class="form-group">
        <label class="inputWraper"><i class="fa fa-lock" aria-hidden="true"></i>
          <input id="passwd" type="password" class="form-control" placeholder="Password" #pubpwd required><span
            id="iconshow" style="z-index: 9999;
	position: absolute;
	top: 5%;
	right: 40px;" class="p-viewer">
            <i id="eye" class="fa fa-eye-slash viewPas" aria-hidden="true" (click)="show_hide()"></i>
          </span></label>
          <span class="text-danger fieldAleart">{{check_pass}}</span>
      </div>



      <div class="checkBoxCustomeMain">
        <label class="checkBoxCustom">
          <input type="checkbox" #p_rem (click)="remember_me(p_rem.checked)" id="prem" checked="checked">
          <span class="checkmarkText"></span>
        </label>Remember

        <a class='float-right' routerLink='/publisher/forgetpassword' routerLinkActive="true">Forgot password</a>  
      </div>

      <div class="form-group">

        <input type="submit" class="btn btnRed widthFull" (click)="show(pubemail.value,pubpwd.value)" value="LOGIN">
      </div>

      <p>Not a member? <a routerLinkActive="true" routerLink="/publisher/regpub">Sign up now</a></p>
      
    </div>

    <br clear="all">
  </div>

</div>
<app-site-footer></app-site-footer> -->