

<!-- <app-publogregheader></app-publogregheader>



<div class="bodyContainerLogin">

  <div class="loginWraper">

    <div class="col-sm-12">
      <div class="alert alertLogin" id="uploaded" [hidden]="alert_show">
        <span class="closebtn" (click)="close_alert()">&times;</span>
        {{msg}}

      </div>

      <h1>Change Password</h1>
      <div class="form-group">
        <label class="inputWraper"><i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" id="pss" class="form-control" placeholder="Password" #password>
          <span
          id="iconshow" class="p-viewer">
          <i id="eye" class="fa fa-eye-slash viewPas" aria-hidden="true" (click)="change_type('pass')"></i>
        </span>
        </label>
      </div>
    
      
      <div class="form-group">
        
        <label class="inputWraper"><i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" id="con_pass" class="form-control" placeholder="Confirm Password" #con_password>
          <span
          id="iconshow" class="p-viewer">
          <i id="eye" class="fa fa-eye-slash viewPas" aria-hidden="true" (click)="change_type('con_pass')"></i>
        </span>
        </label>
      </div>
    
        <input type="submit" class="btn btnRed widthFull" value="Submit"
         (click)='change_password(password.value,con_password.value)'>
    

      
    </div>

    <br clear="all">
  </div>

</div>

<app-site-footer></app-site-footer> -->





<div class="loginContainer">
	<div class="loginContainerSub">
	<div class="col-sm-7 loginLeft float-left">
		<img src="/assets/images/logo.png" alt="" class="logoLogin"  routerLink="/"/>
<div class="leftLoginSec">
		<img src="/assets/images/imgLogin.png" alt=""/> 
		<h2>Welcome To PartReads</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
  <div id="cover-spin" *ngIf="load"></div>

	<div class="col-sm-5 loginRight float-left">
		
    
		<h1>Change Password</h1> 
    <!-- <div class="alert alertLogin" id="uploaded" [hidden]="alert_show">
      <span class="closebtn" (click)="close_alert()">&times;</span>
      {{msg}}

    </div> -->

    <!-- <div [ngClass]="{'success_alert alertLogin':this.check_response.success=='1','alert alertLogin':this.check_response.success=='0'}" id="uploaded" [hidden]="alert_show">
      <span class="closebtn" (click)="close_alert()">&times;</span>
      {{msg}}

    </div> -->


    

    <div class="loginForm">
      
    <!-- <div id="cover-spin"></div> -->
  
    <label > Password 
      <!-- <span class="error_email" id="errorEmail">Please provide valid email</span> -->

    </label>
    <input type="password" id="pss" class="form-control" placeholder="Password" #password>

    <label>Confirm Password</label>
    <input type="password" id="con_pass" class="form-control" placeholder="Confirm Password" #con_password>

    <input type="submit" class="loginBtn" value="Submit" (click)='change_password(password.value,con_password.value)'>
    </div>
	</div>
	</div>

</div>




















 