<app-index-nav-header></app-index-nav-header>
<div class="bodyContainerInner">
    <div class="wrapperCustome">
        <h1 class="text-danger">PRIVACY POLICY</h1> 

        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
            facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel facilisis.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
            facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
            maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
            commodo viverra maecenas accumsan lacus vel facilisis. </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
            facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel facilisis. </p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
            facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas
            accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
            maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
            commodo viverra maecenas accumsan lacus vel facilisis. </p> -->
            <!-- PRIVACY POLICY -->
            <div>      <!-- 1. Introduction -->
                <h2 class="customHeading">Introduction</h2>
                <!-- <p></p> -->
               <p class="customIntroduction"> Eostre Technologies Private Limited (together with its subsidiaries, and international affiliates, hereinafter "Eostre," "us," "we," or "our" or “the Company”) is committed to security and management of personal data, to function effectively and successfully for the benefit of our stakeholders, customers and for the community. In doing so, it is essential that people’s privacy is protected through the lawful and appropriate means for handling the personal data. Therefore, we have implemented this privacy policy (hereinafter referred to as ‘‘policy’’).</p>

            </div>
            <div> <!--2. Aim-->
               <h2 class="customHeading">
                Aim
                </h2>
                <p class="customIntroduction">
                    This policy aims to protect personal data of the various stakeholders connected to our organization. This policy is aimed at providing individuals notice of the basic principles by which the company processes the personal data of individuals (“Personal Data”) who visits, uses, deals with and/or transacts through the website and includes a guest user and browser (hereinafter ‘you’, ‘user’).
                </p>
            </div>
            <div> <!--3.  Purpose and Scope-->
                <h2 class="customHeading">
                    Purpose and Scope
                 </h2>
                 <p class="customIntroduction">
                    The purpose of this policy is to describe how Eostre collects, uses, and shares information about you through our online interfaces (e.g., websites and mobile applications) owned and controlled by us, including but not limited to https://www.partreads.com/ (hereinafter the "website"). This policy is also designed to provide information on how Eostre ensures data security, conducts data transfers and process requests from data subjects.
                    This policy control applies to all systems, people and processes that constitute the organization’s information systems, including board members, directors, employees and other third parties who have access to Personal Data available within Eostre.
                    The company is also committed to ensure that its employees conduct themselves in line with this, and other related, policies. Where third parties process data on behalf of Eostre, the Company endeavours to obtain assurances from such third parties that your Personal Data will be safeguarded consistently.
                    Eostre offers curated and specially designed higher education and industry-relevant certification programs online (“hereinafter individually or collectively referred to as Program”). This Privacy Policy applies to all our services unless specified otherwise.
                 </p>
             </div>
             <div> <!--3.  Types of Personal Data collected-->
                <h2 class="customHeading">
                    Types of Personal Data collected
                 </h2>
                 <p class="customIntroduction">
                    The Personal Data that we collect about you depends on the context of your interactions with us, the products, services and features that you use, your location, and the applicable laws.
                    Personal Data is stored in personnel files or within the electronic records (on servers in India or other countries) of Eostre. The following types of Personal Data may be held by the Company, as appropriate, on relevant individuals:
                    We do not collect any payments information processed by third-party payment gateway providers.
                 </p>
                 <h4 class="customsubheader">A. Personal Identification Data</h4>
                 <ul>
                      <li class="customprivacypoicy"> •	First Name, Last name</li>
                      <li class="customprivacypoicy"> •	Job title & Company</li>
                      <li class="customprivacypoicy"> •	Signature</li>
                      <li class="customprivacypoicy"> •	Photographs</li>

                 </ul>
                 <h4 class="customsubheader">B. Identification Data</h4>
                 <ul>
                      <li class="customprivacypoicy"> • Social security or tax identification numbers</li>
                      <li class="customprivacypoicy"> • Aadhar number and PAN</li>

                 </ul>
                 <h4 class="customsubheader">C. Financial Data</h4>
                 <ul><li class="customprivacypoicy"> •	Bank Account information</li>
                      <li class="customprivacypoicy"> •	Salary Information</li>
                      <li class="customprivacypoicy"> •	Payment gateway account details</li>
                      <li class="customprivacypoicy"> •	E-wallet account details</li></ul>

                <h4 class="customsubheader">D. Personal Characteristics</h4>
                <ul><li class="customprivacypoicy">  •	Age</li>
                    <li class="customprivacypoicy">  •	Gender</li>
                    <li class="customprivacypoicy">  •	Date of Birth</li>
                    <li class="customprivacypoicy">  •	Marital Status</li>
                    <li class="customprivacypoicy">  •	Nationality</li>

                </ul>

                <h4 class="customsubheader">E. Contact Data</h4>
               <ul>
                   <li class="customprivacypoicy">  •	Postal address</li>
                    <li class="customprivacypoicy">  •	Email address</li>
                    <li class="customprivacypoicy">  •	Phone number</li>
                </ul>
                <h4 class="customsubheader">F. Education and Recruitment Data</h4>
                <ul>
                    <li class="customprivacypoicy">  •	Postal address</li>
                     <li class="customprivacypoicy"> •	Working goals</li>
                     <li class="customprivacypoicy"> •	Post-qualification experience</li>
                 </ul>

                 <h4 class="customsubheader">G. Electronic Identification Data</h4>
                 <ul><li class="customprivacypoicy">  •	Login credentials (If you are a registered user)</li>
                      <li class="customprivacypoicy"> •	Visitors IP Data</li>
                      <li class="customprivacypoicy"> •	Pages visited and navigation on the website</li>
                      <li class="customprivacypoicy"> •	Browser being used</li>
                      <li class="customprivacypoicy"> •	County of accessing website</li>
                      <li class="customprivacypoicy"> •	Language of the browser being used</li>
                      <li class="customprivacypoicy"> •	Words searched for</li>
                      <li class="customprivacypoicy"> •	Pixel tags</li>


                  </ul>
                    <h4 class="customsubheader">H. Inquiries</h4>
                    <ul><li class="customprivacypoicy">  •	Personal Data stated in the form – for example: Name, address, phone number, country</li>
                        <li class="customprivacypoicy"> •	Subject of Inquiry</li>
                        <li class="customprivacypoicy"> •	Personal details (Name on the card, billing address)</li>
                        <li class="customprivacypoicy"> •	Payment details (card numbers, card type)</li>
                        <li class="customprivacypoicy"> •	Recordings of calls with students and users showing interest in our Program.</li>
                        <li class="customprivacypoicy"> •	Information about your interactions with customer service and maintenance interactions with us.</li>



                    </ul>
                    <h4 class="customsubheader">I. User Generated Data</h4><ul><li class="customprivacypoicy">    •	Projects and Assignments submitted</li>
                        <li class="customprivacypoicy"> •	Peer feedback and grading</li>
                        <li class="customprivacypoicy"> •	Program performance data</li>
                        <li class="customprivacypoicy"> •	Response to quizzes, standalone quizzes, exams, and surveys</li>
                        <li class="customprivacypoicy"> •	Web Cam Recordings (during assessments related to online courses)</li>
                        <li class="customprivacypoicy"> •	Posts made to public forums through our platform</li>
                        <li class="customprivacypoicy">•	Any other information necessary to ensure conformity with test/ assessment rules, area of interests</li>
                    </ul>
                    <h4 class="customsubheader">J. Marketing Data</h4><ul>
                        <li class="customprivacypoicy"> •	Your preferences in receiving marketing information from us</li>
                        <li class="customprivacypoicy"> •	Your communication preferences</li>
                    </ul>
                    <h4 class="customsubheader">K. Behavioural Data</h4><ul>
                        <li class="customprivacypoicy"> 
                            •	Data inferred or assumed information relating to your behaviour and interests based on your online activity on our sites
                        </li>
                    </ul>
                    <h4 class="customsubheader">We do not collect any payments information processed by third-party payment gateway providers.</h4>
            </div>
            <div>      <!--  5. Special Categories of Personal Data -->
                <h2 class="customHeading">Special Categories of Personal Data</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">

                Special Category of Personal Data includes details about your race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade unions memberships, information about your health and genetic and biometric data.
We do not collect or process any special or sensitive Personal Data.
Should we specifically require “special” or “sensitive” Personal Data in connection with one or more of the uses described below, we will request your explicit consent to use the data in accordance with this policy and/or in the ways described at the point where you were asked to disclose the data.
Other legal basis for our processing of special category data may include, as permitted by applicable law, for scientific research, for employment, social security or social protection law, for reasons of substantial public interest, or as necessary for the establishment, exercise or defence of legal claims. If you voluntarily share with us or post/upload any “special” or “sensitive” Personal Data to this website for any other reason, you consent that we may use such data in accordance with applicable law and this policy. You can contact us for more information about our processing of your Personal Data

               </p>

            </div>


            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Sources of data collection</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                The data collected by the company is derived directly from the data provided by the user or by use of our sites.
                Data Collected when You:
                •	Request a quote for the various products and services offered by us
                •	Place a feedback, complete any customer surveys circulated or interact with our customer services online
                •	View our services or visit our website pages on the internet
                •	Browse our website
                •	When you appear for assignments, exams or any other assessments in relation to online course
                •	When you avail offers, refunds and referrals
                 
                Data Collected from third parties
                We receive Personal Data such as access or login details, profile picture or any other text / image in relation to your Personal Data which may be available with such third parties.
                We also receive information about your visits to this platform and to other websites using pixel tags.
                Third parties from whom we receive your Personal Data include, our service providers, other networks connected to our service, our advertising partners, our marketing and advertising affiliates, our educational partners, scholarship providers, analytics providers, recruiters and such other third-party sources.
                

               </p>

            </div>

            <div>      <!--  Cookies -->
                <h2 class="customHeading">Cookies</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.
                Furthermore, we may allow third-party advertising companies (such as Facebook, Google, Twitter, Quora and Bing) to place cookies on our website. These cookies enable such companies to track your activity across various sites where they display Ads and record your activities, so they can show Ads that they consider relevant to you as you browse the Internet. These cookies store information about the content you are browsing, together with an identifier linked to your device or IP address.
                </p>

            </div>

            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">How do we use cookies?</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Eostre uses cookies in a range of ways to improve your experience on our website, including:
•	To recognize our website user and to enhance user experience when interacting with our website
•	We moreover use cookies to help us to analyse the use and performance of our website and services
•	We also use cookies to improve the delivery and value of various services and products offered by us. 

                </p>

            </div>

            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">What types of cookies do we use?</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                There are a few different types of cookies, however, our website uses:
                •	Persistent Cookies. We use persistent Cookies to improve your experience of using the Sites. This includes recording your acceptance of our Cookie Policy to remove the cookie message which first appears when you use the Sites.
                •	Session Cookies. Session Cookies are temporary and deleted from your machine when your web browser closes. We use session Cookies to help us track internet usage as described above.
                •	Analytical/Performance Cookies. Analytical cookies allow us to recognise and count the number of visitors and see how many visitors move around our website while they are using it. This helps us improve the way our website works, for example, by ensuring the users find what they are looking for.
                •	Functionality Cookies. Functionality Cookies recognise when you return to the website. This enables the company to create greater content for you and remember your likes and dislikes and other preferences.
                •	Targeting Cookies. Targeting Cookies records the visit to our website, the pages navigated to and the links clicked upon. It helps to formulate information relevant to the user’s area of interests
                

                </p>

            </div>


            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">How to manage cookies?</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version. Disabling some cookies form the website, may have a negative impact and may result in some non-availability of some features.
                If you want to remove previously stored Cookies, you can manually delete the Cookies at any time. However, this will not prevent the Sites from placing further Cookies on your device unless and until you adjust your Internet browser setting as described above.
                These opt-out mechanisms rely on cookies to remember your choices. If you delete your cookies, use another computer or device, or change browsers, you will need to repeat this process. In addition, opting out of interest-based ads will not opt you out of all ads, but rather only those ads that are personalized to your interests.
                </p>

            </div>

            
            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading"> Data Analytics</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                We use Analytics tools and search information providers to measure how visitors interact with content on our website. We may use different platforms and social media to show you ads that are customized based on your interaction with our websites or our applications and to measure how you interact with those ads. 
                </p>

            </div>
            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading"> Aggregated Data</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                “Aggregated Data” means records that have been stripped of Personal Data and has been manipulated or combined to provide generalised, anonymous information. Your identity and personal information are not available in Aggregated Data. We combine your Personal Data on an anonymous basis with other information to generate Aggregated Data for internal and commercial use and for sharing with affiliates, subsidiaries and business partners for planning and marketing purposes
                </p>

            </div>
            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Data protection principles</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Where third parties process data on behalf of Eostre, we endeavour to obtain assurances from such third parties that your Personal Data will be safeguarded consistently. We understand that it will be accountable for the processing, management and regulation, and storage and retention of all Personal Data held in the form of manual records and on computers.
                All Personal Data obtained and held by Eostre will:
                •	be processed fairly, lawfully and in a transparent manner
                •	be collected for specific, explicit, and legitimate purposes
                •	be adequate, relevant and limited to what is necessary for the purposes of processing
                •	be kept accurate and up to date. Every reasonable effort will be made to ensure that inaccurate data is rectified or erased without delay
                •	not be kept for longer than is necessary for its given purpose
                •	be processed in a manner that ensures appropriate security of Personal Data including protection against unauthorised or unlawful processing, accidental loss, destruction or damage by using appropriate technical or organisation measures
                •	comply with the relevant laws and procedures for international transferring of Personal Data applicable to us.
                
                </p>

            </div>


            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">. Legal basis for processing your Personal Data</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Certain jurisdictions require that we have a lawful basis to justify our processing of your Personal Data.
                Where applicable, the lawful basis that Eostre relies upon to justify a particular processing activity may differ from the lawful basis used to justify a different processing activity.
                Eostre relies on the following lawful basis to process Personal Data, as permitted under applicable law:
                •	Processing necessary for the negotiation, execution, or performance of contracts
                •	Processing to comply with legal and regulatory obligations
                •	Processing in furtherance of our legitimate interests, including our interests to conduct legitimate business activities (such as improving our products and services, to communicate with you, to secure our systems, among other legitimate interests)
                •	Processing necessary to protect vital interest of a user or any other natural person
                •	Processing necessary for public interest
                •	Processing based on your consent
                
                
                </p>

            </div>


            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Consent</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                We may obtain your consent to collect and use certain types of Personal Data when we are required to do so by law.
Once consent is obtained from the individual to use his or her information for those purposes, Eostre has the individual's implied consent to collect or receive any supplementary information that is necessary to fulfil the same purposes. Express consent will also be obtained if, or when, a new use is identified.
Consent may also be implied where a user is given notice and a reasonable opportunity to opt-out of his or her personal information being used for mail-outs, the marketing of new services or products, and the client, customer, member does not opt-out.
Subject to certain exceptions (e.g., the personal information is necessary to provide the service or product, or the withdrawal of consent would frustrate the performance of a legal obligation), individuals can withhold or withdraw their consent for Eostre to use their personal information in certain ways.
Further, by using this website/ acknowledging this privacy policy / by voluntarily providing us with your Personal Data, you consent to collection, storage, and processing of your Personal Data in accordance with this privacy policy and our Terms of Service.
If you refuse or withdraw your consent, or if you choose not to provide us with any required Personal Data, we may not be able to provide you the services that can be offered on our Platform.

                
                
                </p>

            </div>


            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Purpose of collecting Personal Data</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                We collect your Personal Data for the following purposes
                •	To fulfil or meet the reason you provided the information;
                •	To send you updates about the Platform, other Eostre events, platform maintenance or new services provided by Eostre, among other things, through itself or through third parties, via WhatsApp, email, SMS, phone call or any other medium;
                •	Provide Chat Room services;
                •	To enhance the quality of our content and product offerings;
                •	Compliance with security and other mandatory policies and building access;
                •	Providing information to relevant external authorities for tax, social security and other purposes as legally required;
                •	Conducting surveys to assess your satisfaction, including but not limited to its processes or policies;
                •	Setting up and maintaining accounts and subscriptions with third parties that provide information and research services or communication services;
                •	Making decisions about your continued engagement, employment or membership;
                •	Dealing with legal or regulatory disputes or investigations involving you, our work, or other partners, employees, workers and contractors, including accidents at work, potential and actual negligence claims and professional discipline matters;
                •	To monitor use of our information and communication systems to ensure compliance with our IT and document management policies;
                •	To ensure network and information security, including preventing unauthorized access to our computer and electronic communications systems and preventing malicious software distribution;
                •	Business management and planning, including accounting, auditing and insuring;
                •	Planning or reviewing options in relation to the operation or management;
                •	Keeping registers required by law or regulation;
                •	Communicating with you, for example to respond to inquiries;
                •	Enhancing the safety and security of the services and preventing fraud, or protecting our or our customers’, or your rights or property;
                •	Enforcing applicable terms and conditions and other applicable policies;
                

                
                
                </p>

            </div>
           






            
            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Advertising and Marketing</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                We strive to provide you with choices regarding certain Personal Data uses, particularly around marketing and advertising. You will receive marketing communications from us if you have requested information from us or if you provided us with your details and expressly consented to receiving that marketing.
                We may use your Personal Identification, Identity, Contact, Electronic and User generated Data to form a view on what we think you may want or need, or what may be of interest to you. This is how we decide which services and offers may be relevant for you.
                We also enter into agreements with third parties to serve Ads on our behalf across the internet, social networking sites and blogs. These third parties may collect Personal Data about your visits to our platform and your interactions with our products and use this information to target advertisements for goods and services.
                Where electronic direct marketing communications are being sent, you have the option to opt-out in each communication sent, and this choice will be recognised and adhered to by us.
                

                
                
                </p>

            </div>




            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Disclosure of Personal Data</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Eostre is a global company and may share the personal information collected or provide such access to other companies within the Eostre group.
                •	Examples of third parties with whom Eostre may share Personal Data includes:
                With government bodies, including tax and social security authorities, to comply with applicable laws (including employment and tax laws), to obtain licenses or approvals, and upon request during an audit or assessment;
                •	With suppliers, subcontractors and service providers, to maintain an efficient and commercially viable business, including technology, telecom, internet providers;
                •	With professional advisers, consultants, and employment and recruitment agencies, to conduct background verification and reference checks, administer benefits and payroll, deal with disciplinary and grievance issues and maintain emergency contact details;
                •	With our legal advisors and external auditors for legal advice and to conduct business audits;
                •	With service providers for business continuity management and contingency planning in the event of business disruptions.
                •	With certain companies in order to establish a membership to participate in digital wallets, payment services or rewards programme
                 
                We require all third parties to respect the security of your Personal Data and to treat it in accordance with the law. We do not allow our third-party service providers to use your Personal Data for their own purposes and only permit them to process your Personal Data for specified purposes and in accordance with our instructions
                </p>

            </div>



            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Data subject rights</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Some jurisdictions have provided individuals with certain rights in relation to the processing of their Personal Data. This is the case where you or the any of our subsidiaries or affiliates with which you interact is located in the European Union, though these rights may be available in other jurisdictions as well. These rights are not available to everyone, and they do not necessarily apply in all contexts. Depending on applicable law, you may have the right to:
                •	Request access to your Personal Data.
                •	Request correction of your Personal Data (should your Personal Data be inaccurate, incomplete, or obsolete).
                •	Request deletion of your Personal Data
                •	Withdraw your consent to processing (where we processed Personal Data on the basis of your consent). Please note that withdrawing your consent applies only to future processing activities.
                •	Object to the processing of your Personal Data.
                •	Request restrictions on the processing of your Personal Data.
                •	Request the transfer of your Personal Data to you or a third party.
                •	Opt-out of certain transfers to third parties.
                 
                To exercise a right that you believe you may be entitled to under applicable law, please write to us at dpo@Eostre.com.
                We may need to verify your identity before we fulfil your request.
                Please note that certain conditions in relation to processing of your rights, will vary as many countries have varying data privacy rights. Our response and further processing of request to exercise these rights will depend upon the law applicable in relation to the rights exercised by you. We may refuse requests that are unreasonably repetitive, require disproportionate technical effort, risk the privacy of others, may compromise and ongoing investigation, or are impractical. It is our policy to never discriminate against you for exercising any of these rights.
                You may have the right to complain to a data protection authority about our processing of your Personal Data. For more information, please contact your local data protection authority.
                
                </p>

            </div>




            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Our Policy on Children’s Data</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Children’s data privacy is important to us. Our Sites are not intended for children Age to constitute a user as children is different for different jurisdictions. The age (for valid consent) of children varies across jurisdictions. For example, under GDPR child is a person aged 16 years or below, and in United Kingdom, children is someone who is aged 13 , in case of Singapore and Qatar the valid age for providing consent is 18 years.
                As a general policy, our company does not engage in the collection, processing, storage, use, dissemination, and transfer of Personal Data of children.
                In case such a collection becomes necessary for the performance of our contractual obligations, or when required under the concerned law, we shall notify you in a time-bound and appropriate manner, informing the purposes and reasons for such collection and seek your explicit consent, and where applicable, parental authorization, prior to the processing of such data.
                We will take appropriate steps to delete any Personal Data of children’s that has been collected on our website without verified parental consent upon learning of the existence of such Personal Data, subject to conditions stipulated in the laws of applicable jurisdiction.
                
                
                </p>

            </div>



            
            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Data Security</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Eostre will ensure that appropriate technical and organizational measures are in place, supported by privacy impact and risk assessments, to ensure a high level of security for Personal Data, and secure environment for information held both manually and electronically.
                Eostre implements appropriate security measures designed to prevent unlawful or unauthorized processing of personal information and accidental loss of or damage to personal information. Eostre maintains written security management policies and procedures designed to prevent, detect, contain, and correct violations of measures taken to protect the confidentiality, integrity, availability, or security of your Personal Information. These policies and procedures assign specific data security responsibilities and accountabilities to specific individuals, include a risk management program that includes periodic risk assessment and provide an adequate framework of controls that safeguard your personal information.
                In addition, as part of its organizational security measures, employees at Eostre must:
                •	ensure that all files or written information of a confidential nature are stored in a secure manner and are only accessed by people who have a need and a right to access them
                •	ensure that all files or written information of a confidential nature are not left where they can be read by unauthorised people
                •	check regularly on the accuracy of data being entered into computers
                •	always use the passwords provided to access the computer system cautiously and such access should not be circulated, unless absolutely necessary
                •	use computer screen blanking to ensure that Personal Data is not left on screen when not in use.
                 
                Personal Data should not be kept or transported on laptops, USB sticks, or similar devices, unless authorised by [insert details]. Where Personal Data is recorded on any such device it should be protected by:
                •	ensuring that data is recorded on such devices only where absolutely necessary
                •	using an encrypted system — a folder should be created to store the files that need extra protection and all files created or moved to this folder should be automatically encrypted
                •	ensuring that laptops or USB drives are not left lying around where they can be stolen.
                 
                Failure to follow the Company’s rules on data security may be dealt with via the Company’s disciplinary procedure. Appropriate sanctions include dismissal with or without notice dependent on the severity of the failure.
                We also take steps to ensure that our service providers, contractors and other third parties maintain similar level of data protection measures when processing your Personal Data. While we strive to secure your Personal Data, please note that 100% security of Personal Data cannot be guaranteed and that Eostre shall not be liable for any misuse or loss of Personal Data carried out by third party cloud service provider.
                
                
                
                </p>

            </div>



            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">International data transfers</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Our website is primarily operated and managed on servers located and operated within India. However, owing to the global nature of Eostre, your Personal Data may also be stored in third party data servers located in other countries where Eostre provides its products and services.
Eostre engages sub-contractors, service providers and other third parties for facilitating our products, service offerings and to offer support services to you, and your Personal Data may be transferred to servers of such sub-contractors, service providers and other third parties. Depending upon the location of our service providers, your information, including Personal Data, may be transferred to and maintained on computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
Further, your Personal Data may be transferred may be shared, disclosed, and transferred between various Eostre group companies where such transfers are required for legitimate business reasons.
Where required under applicable law we will seek your express consent for such transfers. In all other cases, by consenting to this policy, you also provide consent to Eostre to transfer your Personal Data to Eostre affiliated companies, service providers or any third-party entity in locations around the world. We take steps to ensure that a degree of data protection which is similar to this policy is afforded to such Personal Data transferred.
Where Eostre transfers your personal information internationally, we will comply with applicable legal requirements and where required we will enter into a data transfer agreement with the recipient of the personal information, which in the case of European Personal Data may include the Standard Contractual Clauses. In other cases, and where applicable, we shall enter into separate Data Processing Agreements with the third parties / service providers / contractors and such other recipients of Personal Data. Further as the Company takes steps to ensure that transfers of Personal Data to any public authority cannot be massive, disproportionate, and indiscriminate in a manner that would go beyond what is necessary in a democratic society. In the event of conflicts between these and public authority requirements, the company will find a practical solution that fulfils the purpose of this Policy.
We are committed to take all steps reasonably necessary to ensure that your data is treated securely and in accordance with our data privacy and security standards.

                
                
                </p>

            </div>


            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Records management</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Records management refers to a set of activities required for systematically controlling the creation, distribution, use, maintenance, and disposition of recorded information maintained as evidence of business activities and transactions. It is impossible to be compliant with information law without robust records management policies and practises. Good records management practices ensure not only record quality, but that Personal Data is only kept for as long as necessary for its original purpose and help support data minimization.
                 </p>

            </div>



            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Organization and Responsibilities</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Eostre will maintain records of data processing as required by the laws.
The ‘Data Protection Officer’ (DPO) has the specific responsibility of overseeing data protection and ensuring that we comply with the data protection principles and relevant legislation. The DPO will ensure that the Data Processing Register is kept up to date and demonstrates how the data protection principles are adhered to by our activities. Individual members of staff have a duty to contribute to ensure that the measures outlined in the Register are accurately reflected in our practice.
Our compliance with relevant policies and regulatory requirements in respect of data protection as part of our Data Management Strategy will be periodically monitored internally by a designated governance group. All employees, volunteers, consultants, partners, or other parties who will be handling Personal Data on behalf of Eostre will be appropriately trained and supervised where necessary.
The collection, storage, use and sharing of Personal Data will be regularly reviewed by the Data Protection Officer, the Governance Group, and any relevant business area. We will adhere to relevant codes of conduct where they have been identified and discussed as appropriate.
Where there is likely to be a high risk to individuals rights and freedoms due to a processing activity, we will first undertake a Data Protection Impact Assessment (DPIA) and consult with the relevant supervisory authority prior to processing, if necessary.

                 </p>

            </div>



            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Conflicts of Law</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                This Policy is intended to comply with the laws and regulations in the place of establishment and of the countries in which company operates. In the event of any conflict between this Policy and applicable laws and regulations, the latter shall prevail.

                 </p>

            </div>


            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Retention of Personal Data</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                We retain your Personal Data, not longer than necessary for the purposes for which it was collected. The length of time to retain Personal Data depends on the purposes for which we collect and use it and/or as may be required to comply with applicable laws, to establish, exercise, or defend our legal rights.
The users can exercise their rights enumerated herein. Also, if in case required to extend the period of retention of such data, we shall obtain your consent for the same. Further, we may also dispose the data prior to completion of the period of retention, if the purpose for which it was collected is exhausted.


                 </p>

            </div>


            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Procedures</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                The Company has taken the following steps to protect the Personal Data of relevant stakeholders, which it holds or to which it has access:
•	it appoints or employs employees with specific responsibilities for: o the processing and controlling of data
- the comprehensive reviewing and auditing of its data protection systems and procedures
- overviewing the effectiveness and integrity of all the data that must be protected.
- There are clear lines of responsibility and accountability for these different roles.
•	it provides its employees with information and training to make them aware of the importance of protecting Personal Data, to teach them how to do this, and to understand how to treat information confidentially
•	it can account for all Personal Data it holds, where it comes from, who it is shared with and also who it might be shared with
•	it carries out risk assessments as part of its reviewing activities to identify any vulnerabilities in its Personal Data handling and processing, and to take measures to reduce the risks of mishandling and potential breaches of data security. The procedure includes an assessment of the impact of both use and potential misuse of Personal Data in and by the Company
•	it recognises the importance of seeking individuals’ consent for obtaining, recording, using, sharing, storing and retaining their Personal Data, and regularly reviews its procedures for doing so, including the audit trails that are needed and are followed for all consent decisions. The Company understands that consent must be freely given, specific, informed and unambiguous. The Company will seek consent on a specific and individual basis where appropriate. Full information will be given regarding the activities about which consent is sought. Relevant individuals have the absolute and unimpeded right to withdraw that consent at any time
•	it has the appropriate mechanisms for detecting, reporting and investigating suspected or actual Personal Data breaches, including security breaches. It is aware of its duty to report significant breaches that cause significant harm to the affected individuals to the relevant supervisory authority, and is aware of the possible consequences
•	it is aware of the implications international transfer of Personal Data internationally.



                 </p>

            </div>



            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Breach notification</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                Where a data breach is likely to result in a risk to the rights and freedoms of individuals, it will be reported to the relevant supervisory authority within 72 hours of the Company becoming aware of it and may be reported in more than one instalment. Individuals will be informed directly in the event that the breach is likely to result in a high risk to the rights and freedoms of that individual. If the breach is sufficient to warrant notification to the public, the Company will do so without undue delay.


                 </p>

            </div>




            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">External Links on our website</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                For your convenience we may provide links to sites operated by organizations other than Eostre ("Third Party Sites") that we believe may be of interest to you. We do not disclose your Personal Data to these Third-Party Sites unless we have a lawful basis on which to do so. We do not endorse and are not responsible for the privacy practices of these Third-Party Sites. If you choose to click on a link to one of these Third-Party Sites, you should review the privacy policy posted on the other websites to understand how that Third-Party website collects and uses your Personal Data.


                 </p>

            </div>

            
            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Use of this website and our Terms of Service</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                This website is the property of the Eostre. Our Terms of Use and this Privacy Policy collectively govern the use of the Platform and the Programs offered by Eostre. This Privacy Policy shall form a part of the Terms by way of reference. By using this website and the information offered herein, you indicate your acceptance of these Terms of Use.


                 </p>

            </div>
                    
            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Updates to this policy</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                We may update our Privacy Policy from time to time. We will take reasonable steps to inform all Eostre entities, Customers, Business Partners, and other data subjects affected by the revisions by posting the new Privacy Policy on this page and/or via email.
                 </p>

            </div>

            <div>      <!--  6. Sources of data collection -->
                <h2 class="customHeading">Data Controller/ Company Details</h2>
                <!-- <p></p> -->
               <p class="customIntroduction">
                The "Data Controller" (i.e., Eostre) means the entity that will make the decisions about how your data is used and that is responsible for deciding how it holds personal information about you.
                Since Eostre is made up of different legal entities, the entity who will be the controller for your data is dependent on the situation where your Personal Data is collected.
                
                 </p>

            </div>
           
             
        </div>
</div>


<app-site-footer></app-site-footer>
