.dashBoard .customdashBoardGraph h5{font-size: 28px;font-weight: 400;margin-bottom: 6px;}
.dashBoard .customdashBoardGraph h4{font-size: 14px;font-weight: 300;font-family: sans-serif;}
.alert{text-align:left!important;padding:12px!important;}