
<app-site-header></app-site-header>
<!-- <div class="breadcrumb">
  <ul>
    <li><a routerLinkActive="true" routerLink="/publisher/publisher-dashboard">Home</a></li>
    <li>&gt;</li>
    <li>Commission History</li>
  </ul>
</div> -->


<div class="bodyContainer">
  <div class="wrapperCustome">
   
  <app-site-side-bar></app-site-side-bar>
  <div class="col-sm-9 float-left">
    
    <div id="cover-spin" *ngIf="loading"></div>

    <div class="row">
      <div class="searchDate p-3">
        <form #logform="ngForm" (ngSubmit)="submit(logform)">
      <div class="row">
        <div class="col-5">
          <label>&nbsp;</label>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input type="date" matInput name="startDate" id="StartDate" #startDate="ngModel" ngModel required [max]="getToday()"/>
            <mat-error *ngIf="startDate.errors?.required && (startDate.touched || startDate.dirty)" class="text-danger">
                *Please Enter Start Date
            </mat-error>
        </mat-form-field>
        </div>
        <div class="col-5">
          <label>&nbsp;</label>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>End Date</mat-label>
            <input type="date" matInput name="enddate" id="endDate" #enddate="ngModel" ngModel required [max]="getToday()"/>
            <mat-error *ngIf="enddate.errors?.required && (enddate.touched || enddate.dirty)" class="text-danger">
                *Please Enter End Date
            </mat-error>
        </mat-form-field>
        </div>
        <div class="col-2 my-auto searchDateWise_Ut">
          <input type="submit" value="Search" class="finalSubmitButton float-right" [disabled]="logform.invalid"/>
        </div>
      
        </div>
    </form>
     </div>
     </div>




    <div class="row">
        <div class="rightNotification">

            <h1>Commisssion History<button title="Download as CSV" class="finalSubmitButton float-right" (click)="importAsXlsx()"><i class="fa fa-download" aria-hidden="true"></i> 
              <!-- CSV -->
              Download
            </button></h1>

            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
              </mat-form-field>
              
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort id="data_table">
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="No">
                    <th mat-header-cell *matHeaderCellDef >#</th>
                    <td mat-cell *matCellDef="let row;let i=index"> {{i+1}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <!-- <ng-container matColumnDef="bookname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="bookname">Book</th>
                    <td mat-cell *matCellDef="let row"> <p class="nameoverflow mt-3"
                      #tooltip="matTooltip"
                        matTooltip="{{row.bookname}}"
                        matTooltipClass="custom-tooltip"
                       matTooltipPosition="below">{{row.bookname}} </p></td>
                  </ng-container> -->
                  <ng-container matColumnDef="orderId">
                    <th mat-header-cell *matHeaderCellDef >Order Id</th>
                    <td mat-cell *matCellDef="let row"> {{row.order_id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Ammount">
                    <th mat-header-cell *matHeaderCellDef >Amount</th>
                    <td mat-cell *matCellDef="let row"><i class="fa fa-inr" aria-hidden="true"></i> {{row.amount}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef >Commission Month</th>
                    <td mat-cell *matCellDef="let row"> {{row.month | date:'MMMM'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef >Recieved Date</th>
                    <td mat-cell *matCellDef="let row"> {{row.date | date:'dd/MM/YYYY h:mma'}} </td>
                  </ng-container>
            
                   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              
                <!-- <mat-paginator [pageSizeOptions]="[20, 40, 80, 100]" showFirstLastButtons ></mat-paginator> -->
              </div>





        </div>
    </div>

  </div>
  <br clear="all">
</div>
</div>


<app-site-footer></app-site-footer>

