.alert{
    padding: 20px;
    background-color: #920101; /* Red */
    color: rgb(253, 252, 252);
    margin-bottom: 15px;
  }


  .success_alert{
    padding: 20px;
    background-color: #049b04; /* Red */
    color: rgb(253, 252, 252);
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }