<app-userheader></app-userheader>


<div class="bodyContainerLogin">

  <div class="loginWraper">
    <div class="col-sm-12">
     
      <h1>Forgot Password</h1>
      <div [ngClass]="{'success_alert alertLogin':this.check_response.success=='1','alert alertLogin':this.check_response.success=='0'}" id="uploaded" [hidden]="alert_show">
        <span class="closebtn" (click)="close_alert()">&times;</span>
        {{msg}}

      </div>

      <div class="form-group">
        <label class="inputWraper"><i class="fa fa-envelope-o" aria-hidden="true"></i>
          <input type="email" class="form-control" placeholder="Email" #user_email
            (change)="check_valid_email($event)"></label>
      </div>
    


      <div class="form-group">

        <input type="submit" class="btn btnRed widthFull" value="Submit"
         (click)='Check_password(user_email.value)'>
      </div>

     

    </div>
    <br clear="all">
  </div>

</div>

<app-site-footer></app-site-footer>
