<div class="topBanner">
    <div class="wrapper_top">
        <div class="col-sm-3 float-left logo"><a routerLinkActive="true" routerLink=""><img
                    src="/assets/images/logo.png" alt=""></a></div>
        <div class="col-sm-9 float-left">
            <div class="navSectionAfterLog">
                <div class="signUpLogin">
                    <ul>
                        <li><a routerLinkActive="true" routerLink="/user/userreg">Sign Up</a></li>
                        <li><a routerLinkActive="true" routerLink="/">Login</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <br clear="all">
</div>