<!-- 
<div class="formPaymentMain">


<div class="card  panel-default credit-card-box">
<div class="panel-heading display-table" >
<div class="row display-tr" >
<h3 class="panel-title display-td" >Payment Details</h3>
<div class="display-td" >                            
<img class="img-responsive pull-right" src="/assets/images/Untitled-3.jpg">
</div>
</div>                    
</div>
<div class="panel-body">
<form role="form" id="payment-form" #pay="ngForm">
<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label for="cardNumber">CARD NUMBER</label>
<div class="input-group">
<input 
type="tel"
class="form-control"
name="cardNumber"
placeholder="Valid Card Number"
autocomplete="cc-number"
required autofocus 
#cardNumber="ngModel"
ngModel
/>
<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
</div>
</div>                            
</div>
</div>
<div class="row">
<div class="col-xs-7 col-md-7">
<div class="form-group">
<label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
<input 
type="tel" 
class="form-control" 
name="cardExpiry"
placeholder="MM / YY"
autocomplete="cc-exp"
required 
#cardExpiry="ngModel"
ngModel
/>
</div>
</div>
<div class="col-xs-5 col-md-5 pull-right">
<div class="form-group">
<label for="cardCVC">CV CODE</label>
<input 
type="tel" 
class="form-control"
name="cardCVC"
placeholder="CVC"
autocomplete="cc-csc"
required
#cardCVC="ngModel"
ngModel
/>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label for="couponCode">COUPON CODE</label>
<input type="text" class="form-control" name="couponCode" ngModel />
</div>
</div>                        
</div>
<div class="row">
<div class="col-xs-12">
<button class="btn btn-success btn-lg btn-block" type="submit" (click)="show_message()">Submit</button>
</div>
</div>

<div class="row" style="display:none;">
<div class="col-xs-12">
<p class="payment-errors"></p>
</div>
</div>
</form>
</div>
</div>            


</div>             -->






<!-- <div class="container py-5" >
  
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">
            
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item customlabel" > <a data-toggle="pill" class="nav-link "> <i class="fa fa-credit-card mr-2" aria-hidden="true"></i> Credit Card </a> </li>
                           
                        </ul>
                    </div>
                    <div class="tab-content">
   
                        <div id="credit-card" class="tab-pane pt-3">
                         <div id="cover-spin" *ngIf="loading"></div>
                            <form role="form">
                                <div class="form-group"> <label for="username">
                                        <h6 class="customlabel">Card Owner</h6>
                                    </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control custominput"> </div>
                                <div class="form-group"> <label for="cardNumber">
                                        <h6 class="customlabel">Card number</h6>
                                    </label>
                                    <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control custominput" required>
                                        <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fa fa-cc-visa mx-1" aria-hidden="true"></i> <i class="fa fa-cc-mastercard mx-1" aria-hidden="true"></i> <i class="fa fa-cc-amex mx-1" aria-hidden="true"></i> </span> </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span>
                                                    <h6 class="customlabel">Expiration Date</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control custominput" required> <input type="number" placeholder="YY" name="" class="form-control custominput" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6 class="customlabel">CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control custominput"> </div>
                                    </div>
                                </div>
                                <div class="card-footer"> <button type="button" (click)="show_message()" class="subscribe btn btn-primary btn-block shadow-sm custompayButton"> Confirm Payment </button></div>
                            </form>
                        </div>
                    </div> 
                
                </div>
            </div>
        </div>
    </div>
</div>
<div id="snackbar">Payment Successful!!</div> -->




<!-- 
<div class="formPaymentMain">


<div class="card  panel-default credit-card-box">
<div class="panel-heading display-table" >
<div class="row display-tr" >
<h3 class="panel-title display-td" >Payment Details</h3>
<div class="display-td" >                            
<img class="img-responsive pull-right" src="/assets/images/Untitled-3.jpg">
</div>
</div>                    
</div>
<div class="panel-body">
<form role="form" id="payment-form" #pay="ngForm">
<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label for="cardNumber">CARD NUMBER</label>
<div class="input-group">
<input 
type="tel"
class="form-control"
name="cardNumber"
placeholder="Valid Card Number"
autocomplete="cc-number"
required autofocus 
#cardNumber="ngModel"
ngModel
/>
<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
</div>
</div>                            
</div>
</div>
<div class="row">
<div class="col-xs-7 col-md-7">
<div class="form-group">
<label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
<input 
type="tel" 
class="form-control" 
name="cardExpiry"
placeholder="MM / YY"
autocomplete="cc-exp"
required 
#cardExpiry="ngModel"
ngModel
/>
</div>
</div>
<div class="col-xs-5 col-md-5 pull-right">
<div class="form-group">
<label for="cardCVC">CV CODE</label>
<input 
type="tel" 
class="form-control"
name="cardCVC"
placeholder="CVC"
autocomplete="cc-csc"
required
#cardCVC="ngModel"
ngModel
/>
</div>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<div class="form-group">
<label for="couponCode">COUPON CODE</label>
<input type="text" class="form-control" name="couponCode" ngModel />
</div>
</div>                        
</div>
<div class="row">
<div class="col-xs-12">
<button class="btn btn-success btn-lg btn-block" type="submit" (click)="show_message()">Submit</button>
</div>
</div>

<div class="row" style="display:none;">
<div class="col-xs-12">
<p class="payment-errors"></p>
</div>
</div>
</form>
</div>
</div>            


</div>             -->






<div class="container py-5" >
    <div class="row mb-4">
        <div class="col-lg-8 mx-auto text-center">

        </div>
    </div> 
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header">
                    <!-- <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">

                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item customlabel" > <a data-toggle="pill" class="nav-link "> <i class="fa fa-credit-card mr-2" aria-hidden="true"></i> Credit Card </a> </li>
                        </ul>
                    </div>  -->
                    <div class="tab-content">

                        <div id="credit-card" class="tab-pane pt-3">
                         <div id="cover-spin" *ngIf="loading"></div>
                            <form role="form">
                                <!-- <div class="form-group"> 
                                    <label for="username">
                                        <h6 class="customlabel">Card Owner</h6>
                                    </label> <input type="text" name="username" placeholder="Card Owner Name" required class="form-control custominput"> 
                                </div>
                                <div class="form-group"> <label for="cardNumber">
                                        <h6 class="customlabel">Card number</h6>
                                    </label>
                                <div class="input-group"> <input type="text" name="cardNumber" placeholder="Valid card number" class="form-control custominput" required>
                                    <div class="input-group-append"> <span class="input-group-text text-muted"> <i class="fa fa-cc-visa mx-1" aria-hidden="true"></i> <i class="fa fa-cc-mastercard mx-1" aria-hidden="true"></i> <i class="fa fa-cc-amex mx-1" aria-hidden="true"></i> </span> </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group"> <label><span>
                                                    <h6 class="customlabel">Expiration Date</h6>
                                                </span></label>
                                            <div class="input-group"> <input type="number" placeholder="MM" name="" class="form-control custominput" required> <input type="number" placeholder="YY" name="" class="form-control custominput" required> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group mb-4"> <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                                                <h6 class="customlabel">CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                            </label> <input type="text" required class="form-control custominput"> </div>
                                    </div>
                                </div> -->
                               
                                <h2 class="text-center paymentRide">Enjoy your free ride..</h2>
                                <div class="card-footer"> 
                                    <!-- <button type="button" (click)="show_message()" class="subscribe btn btn-primary btn-block shadow-sm custompayButton"> Confirm Payment </button> -->
                                    <button type="button" (click)="show_message()" class="subscribe btn btn-primary btn-block shadow-sm custompayButton"> Continue </button>
                                
                                </div>
                            </form>
                        </div>
                    </div> 
                
            
                </div>
            </div>
        </div>
    </div>
</div>
<div id="snackbar">Payment Successful!!</div>
