<app-userheaderafterlogin></app-userheaderafterlogin>
<!-- <div class="breadcrumb">
    <ul>
        <li><a routerLinkActive="true" routerLink="/user/user_view">Home</a></li>
        <li>&gt;</li>
        <li>Notifications</li>
    </ul>
</div> -->

<div class="bodyContainer">
    <div class="wrapperCustome">
        <app-usersidebar></app-usersidebar>

        <div class="col-sm-9 float-left">
    

            <div class="rightNotification">
               <div id="cover-spin" *ngIf="loader"></div>
                <div class="mainnotificationdiv" *ngIf="userData.length > 0">
                    <!-- <div *ngFor="let row of userData;let i=index">
                      <mat-card class="matCard" *ngIf="row.subject=='BookUpload'">
                              <mat-card-header>
                                <mat-card-title> 
                                <h2 class="matcardtitleh2">
                                  <a><i class="fa fa-book" aria-hidden="true"></i></a>
                                  New book uploaded 
                                  <a class="float-right matIcon"  (click)="clear_all_notification('O',row._id,i)"><mat-icon>close</mat-icon></a> 
                                  <a class="float-right matIcon" (click)="expandMore(i)"><mat-icon>expand_more</mat-icon></a>
                                  <span style="display:none" id="date_{{i}}" class="customnotificationspan">{{row.date | date:'dd-MM-yyyy h:mma'}}</span>
                                </h2>
                                <p class="customcardtext" id="Date_{{i}}">{{row.date | date:'dd-MM-yyyy h:mma'}}</p>
                            </mat-card-title>
                             </mat-card-header>
                
                                <mat-card-content style="display:none"  id="matcard{{i}}">     
                                    <h4 class="matcardcontenth4" (click)="got_book_details_page(row.book_id,row.publisher_id)"> 
                                      {{row.publisher_details?.name}} has
                                      {{msg}}
                                      {{row.bookdetails?.book_name}} at {{row.date | date:'dd-MM-yyyy h:mma'}}.
                        
                                    
                                    </h4>
                                </mat-card-content>
                      </mat-card>
                       <mat-card class="matCard" *ngIf="row.subject=='BuyBookPages'">
                             
                        <mat-card-header>
                
                          <mat-card-title> 
                          <h2 class="matcardtitleh2">
                            <a><i class="fa fa-inr" aria-hidden="true"></i> </a>
                             New transaction has been done successfully.
                            <a class="float-right matIcon"  (click)="clear_all_notification('O',row._id,i)"><mat-icon>close</mat-icon></a> 
                            <a class="float-right matIcon" (click)="expandMore(i)"><mat-icon>expand_more</mat-icon></a>
                            <span style="display:none" id="date_{{i}}" class="customnotificationspan">{{row.date | date:'dd-MM-yyyy h:mma'}}</span>
                
                          </h2>
                          <p class="customcardtext" id="Date_{{i}}">{{row.date | date:'dd-MM-yyyy h:mma'}}</p>
                      </mat-card-title>
                       </mat-card-header>
                
                          <mat-card-content style="display:none"  id="matcard{{i}}">    
                            <h4  class="matcardcontenth4" (click)="got_book_details_page(row.book_id,row.publisher_id)"> Transaction for {{row.bookdetails?.book_name}}  <span *ngIf="row.body!=''">( <i>Pages: {{row.body}} </i>) </span>  has been successfully made. </h4> 
                            </mat-card-content>
                      </mat-card>
                
                   <mat-card class="matCard" *ngIf="row.subject=='LinkShare'">
                             
                        <mat-card-header>
                
                          <mat-card-title> 
                          <h2 class="matcardtitleh2">
                            <a><i class="fa fa-inr" aria-hidden="true"></i> </a>
                           Link shared.
                            <a class="float-right matIcon"  (click)="clear_all_notification('O',row._id,i)"><mat-icon>close</mat-icon></a> 
                            <a class="float-right matIcon" (click)="expandMore(i)"><mat-icon>expand_more</mat-icon></a>
                            <span style="display:none" id="date_{{i}}" class="customnotificationspan">{{row.date | date:'dd-MM-yyyy h:mma'}}</span>
                
                          </h2>
                          <p class="customcardtext" id="Date_{{i}}">{{row.date | date:'dd-MM-yyyy h:mma'}}</p>
                      </mat-card-title>
                       </mat-card-header>
                
                          <mat-card-content style="display:none"  id="matcard{{i}}">     
                              <h4 class="matcardcontenth4">{{row.user_details?.name}} has shared the link of {{row.bookdetails?.book_name}}  
                                ( <i>Pages: {{row.body}} </i>) 
                              
                              </h4>
                          </mat-card-content>
                      </mat-card> 


                      <mat-card class="matCard" *ngIf="row.subject=='BuyBookPayment'">
                             
                        <mat-card-header>
                
                          <mat-card-title> 
                          <h2 class="matcardtitleh2">
                            <a><i class="fa fa-inr" aria-hidden="true"></i> </a>
                            New payment has been done.
                           
                            <a class="float-right matIcon"  (click)="clear_all_notification('O',row._id,i)"><mat-icon>close</mat-icon></a> 
                            <a class="float-right matIcon" (click)="expandMore(i)"><mat-icon>expand_more</mat-icon></a>
                            <span style="display:none" id="date_{{i}}" class="customnotificationspan">{{row.date | date:'dd-MM-yyyy h:mma'}}</span>
                
                          </h2>
                          <p class="customcardtext" id="Date_{{i}}">{{row.date | date:'dd-MM-yyyy h:mma'}}</p>
                      </mat-card-title>
                       </mat-card-header>
                
                          <mat-card-content style="display:none"  id="matcard{{i}}">     
                              <h4 class="matcardcontenth4">Payment of  <i>Rs: {{row.body}}/- </i> has been made successfully</h4>
                          </mat-card-content>
                      </mat-card> 
                
                    </div> -->
                    <mat-accordion class="example-headers-align" multi>
                      <mat-expansion-panel *ngFor="let row of userData;let i=index">
                        <mat-expansion-panel-header>
                          <mat-panel-title *ngIf="row.subject=='BookUpload'">
                            <small><b><a><i class="fa fa-book" aria-hidden="true"></i></a>&nbsp;New Book Uploaded</b></small>
                          </mat-panel-title>
                          <mat-panel-title *ngIf="row.subject=='BuyBookPages'">
                            <small><b>  <a><i class="fa fa-inr" aria-hidden="true"></i> </a>&nbsp;New transaction has been done successfully</b> </small>
                          </mat-panel-title>
                          <mat-panel-title *ngIf="row.subject=='LinkShare'">
                            <small><b><a><i class="fa fa-share" aria-hidden="true"></i></a>&nbsp;Link shared</b></small> 
                          </mat-panel-title>
                          <mat-panel-title *ngIf="row.subject=='BuyBookPayment'">
                            <small><b><a><i class="fa fa-inr" aria-hidden="true"></i> </a>&nbsp;New payment has been done</b></small>
                          </mat-panel-title> 
                          <mat-panel-description>
                            <small class="mr-2"><b>{{row.date | date:'dd-MM-yyyy h:mma'}}</b></small>
                            <mat-icon class="mr-2" (click)="clear_all_notification('O',row._id,i)">delete_outline</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-container *ngIf="row.subject=='BookUpload'">
                        <h4 class="matcardcontenth4" (click)="got_book_details_page(row.book_id,row.publisher_id)"> 
                          {{row.publisher_details?.name}} has
                          {{msg}}
                          {{row.bookdetails?.book_name}} at {{row.date | date:'dd-MM-yyyy h:mma'}}.
                        </h4>
                      </ng-container>
                      <ng-container *ngIf="row.subject=='BuyBookPages'">
                        <h4  class="matcardcontenth4" (click)="got_book_details_page(row.book_id,row.publisher_id)"> Transaction for {{row.bookdetails?.book_name}}  <span *ngIf="row.body!=''">( <i>Pages: {{row.body}} </i>) </span>  has been successfully made. </h4> 
                      </ng-container>
                      <ng-container *ngIf="row.subject=='LinkShare'">
                        <h4 class="matcardcontenth4">{{row.user_details?.name}} has shared the link of {{row.bookdetails?.book_name}}  
                          ( <i>Pages: {{row.body}} </i>) 
                        
                        </h4>
                      </ng-container>
                      <ng-container *ngIf="row.subject=='BuyBookPayment'">
                        <h4 class="matcardcontenth4">Payment of  <i>Rs: {{row.body}}/- </i> has been made successfully</h4>
                      </ng-container>
                      </mat-expansion-panel>                 
                    </mat-accordion>
                  </div>
                      <div class="row mb-2 mt-2" *ngIf="userData.length > 0">
                        <div class="col-2">
                        </div>
                        <div class="col-6"></div>
                        <div class="col-4">
                         <div class="deleteNotification">
                           <span (click)="clear_all_notification('A','','-1')">Clear all notification</span>
                    
                         </div>
                        </div>
                      </div>
                       <div class="row" *ngIf="userData.length == 0" class="mt-5">
                         <div class="col-12 text-center">
                           <img src="/assets/images/trnnonotification.png" class="img-fluid" style="height:160px"/>
                                <h2 class="text-muted">no new notification</h2>
                         </div>
                       </div>
                 
                 
                  </div>

        </div>
        <br clear="all">
    </div>

</div>

<app-site-footer></app-site-footer>